#usersInputSection, #categoryInputSection , #displayQuestionSection, #roundSummary, #displayWinnersSection{
    background-color:rgb(95, 181, 221);
    border: 1px solid black;
    height: 500px;
    width: 500px;
    margin: auto;
}

.players_section{
    margin-top: 120px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

#startGameBtn{
    margin: 200px;
}

#error, #error1, #error2{
    text-align: center;
    margin: 20px; 
}

#categories{
    display: flex;
    margin: auto;
}

#startRoundBtn{
    display: block;
    margin: auto;
    margin-top: 200px;

}
#nextQuestionBtn{
    display: block;
    margin: auto; 
}
#countRound, #roundNumber{
    text-align: center;
}
#btns_section{
     margin: 30px; 
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
}

#winnerDeclaredSection{
    margin: 150px;
    text-align: center;
}

#questionSection, #optionsDiv, #currentPlayerScore{
  margin: 20px;
}